.notification-bell {
    position: absolute;
    right: 0;

    cursor: pointer;

    background-color: hsl(0 0% 100% / 40%);
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
    padding: 0.3rem 0.30rem;

    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 9999;
    height: 32px;
    width: 32px;
}

.notification-bell svg {
    height: 24px;
    width: 24px;
}

.notification-bell svg:hover {
    transform-origin: 50% 50%;
    animation-name: bellring;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.notifications-container {
    display: flex;
    flex-direction: column;

    gap: 0.2rem;

    position: absolute;
    right: 0;
    background-color: hsl(0 0% 100% / 40%);
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
    padding: 0.8rem 0 0.8rem 0.8rem;

    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.notification {
    padding: 0.6rem 1rem;
    border-radius: 0.2rem;
    
    width: var(--width);
    height: var(--height);
    cursor: pointer;
    
    background-color: hsl(0 0% 100% / 40%);
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
    color: #444444;

    display: flex;
    gap: 0.4rem;
    align-items: flex-start;
    flex-direction: column;
}

.notification-title {
    font-weight: bold;
}

.notification-content {

}

.notification-content-bold {
    white-space:pre;
    font-weight: bold;
    color: #1d4ed8;
}

@keyframes bellring {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(10deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(0deg);
    }
}