.notification-bell {
    position: absolute;
    right: 0;

    cursor: pointer;

    background-color: hsl(0 0% 100% / 40%);
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
    padding: 0.3rem 0.3rem;

    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 9999;
    height: 32px;
    width: 32px;

    transition: right 1s ease-in-out;
}

.notification-bell svg {
    height: 24px;
    width: 24px;
    fill: #606060;
}

.notification-bell:hover svg {
    transform-origin: 50% 50%;
    animation-name: bellring;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.notification-bell svg:hover path {
    fill: rgb(52, 58, 68);
}

.notifications-container {
    display: flex;
    flex-direction: column;

    gap: 0.2rem;

    position: absolute;
    right: 0;
    background-color: hsl(0 0% 100% / 40%);
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;

    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;

    transition: right 500ms ease-in-out;
    z-index: 9999;

    overflow-y: hidden;
    max-height: 95%;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
.notifications-container::-webkit-scrollbar { 
    display: none; 
}

.notification {
    padding: 0.6rem 1.6rem;
    border-radius: 0.2rem;

    width: var(--width);
    height: var(--height);
    cursor: pointer;

    border: solid 1px hsla(0, 0%, 100%, 0.5);
    background-color: hsla(0, 0%, 100%, 0.1);
    -webkit-backdrop-filter: blur(0.1rem);
    backdrop-filter: blur(0.1rem);

    display: flex;
    gap: 0.4rem;
    align-items: flex-start;
    flex-direction: column;
}

.notification::after {
    position: absolute;
    content: "";
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    background: hsla(0, 0%, 40%, 0.5);
    transition: transform 300ms ease;
}

.notification:hover::after,
.notification.active {
    background-color: #22262d;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.notification-title {
    font-weight: bold;
    color: #333333;
}

.notification-content {
    color: #444444;
}

.notification-title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.notification-title-container .notification-date {
    font-size: x-small;
    color: #22222280;
}

.notification-content-bold {
    white-space: pre;
    font-weight: bold;
    color: #1d4ed8;
}

.notification-count {
    position: absolute;
    font-size: x-small;
    border-radius: 12px;
    background-color: #1d4ed8;
    padding: 1px 4px;
    top: 4px;
    right: 6px;
}

.notification-count.zero {
    display: none;
}

@keyframes bellring {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(10deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(0deg);
    }
}